/.history
/.idea
/.ipynb_checkpoints
/A3 instructions.pdf
/decision_tree.ipynb
/FurtherAI_DecisionTrees-Copy1.ipynb
/FurtherAI_DecisionTrees.docx
/FurtherAI_DecisionTrees.pdf
/FurtherAI_DecisionTrees.py
/tutorials-master
/Untitled.ipynb
/Untitled1.ipynb
/venv